<!-- Header -->
<div class="row">
  <div class="col-xs-12">

    <div class="navbar page-header">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>roastlab<small>cupping</small></h1>
        </div>
        <div class="navbar-logout">
          <button class="btn btn-danger navbar-btn navbar-right" ng-click="logout()">logout</button>
          <p class="navbar-text navbar-right">Signed in as <strong>{{currentUser.username}}</strong>&nbsp;</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Navigation -->
<div class="row">
  <div class="col-xs-12">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav nav-pills">
          <li>
            <form class="form navbar-form">
              <div class="form-group">
                <input class="form-control" ng-model="filter" type="text" placeholder="search">
              </div>
            </form>
          </li>
          <li> <button class="btn btn-sm btn-default navbar-btn" ng-click="clearFilter()">Reset</button></li></li>
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{filters.type}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="setType('Filter')">Filter</a></li>
                <li><a ng-click="setType('Espresso')">Espresso</a></li>
                <li><a ng-click="setType('Sample')">Sample</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="setType('Filter/Espresso')">Filter/Espresso</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{filters.origin}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="setOrigin('Colombia')">Colombia</a></li>
                <li><a ng-click="setOrigin('Ethiopia')">Ethiopia</a></li>
                <li><a ng-click="setOrigin('Kenya')">Kenya</a></li>
                <li><a ng-click="setOrigin('Honduras')">Honduras</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Origin</th>
            <th>Farmer</th>
            <th>Added</th>
            <th>
              <button class="btn btn-sm btn-success pull-right">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <form class="form">
            <tr>
              <td><input class="form-control input-sm" ng-model="bean.name" type="text" placeholder="Name" /></td>
              <td>
                <select class="form-control input-sm" ng-model="bean.type" type="text">
                  <option value="" disabled selected>Type</option>
                  <option value="Filter">Filter</option>
                  <option value="Espresso">Espresso</option>
                  <option value="Sample">Sample</option>
                  <option value="Filter/Espresso">Filter/Espresso</option>
                </select>
              </td>
              <td>
                <select class="form-control input-sm" ng-model="bean.origin" type="text">
                  <option value="" disabled selected>Origin</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Ethiopia">Ethiopia</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Honduras">Honduras</option>
                </select>
              </td>
              <td><input class="form-control input-sm" ng-model="bean.farmer" type="text" placeholder="Farmer" /></td>
              <td>{{currentDate | date}}</td>
              <td>
                <button class="btn btn-sm btn-success pull-right" ng-click="createBean(bean)">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </form>
        </tbody>
        <tr ng-repeat="bean in beans | orderBy:bean.added | filter: filters | filter: filter">
          <td>{{bean.name}}</td>
          <td>{{bean.type}}</td>
          <td>{{bean.origin}}</td>
          <td>{{bean.farmer}}</td>
          <td>{{bean.added | date}}</td>
          <td>
            <button class="btn btn-sm btn-info pull-right" ng-click="getBean(bean._id)" data-toggle="modal" data-target="#beanModal">
              <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
      </table>
      <div class="panel-footer">
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="beanModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li><h4 class="modal-title">{{currentBean.name}}</h4></li>
          <li ng-class="{ active: isSet(1)}" >
            <a href ng-click="setTab(1)" role="tab" data-toggle="tab">Details</a>
          </li>
          <li ng-class="{ active: isSet($index + 2)}" ng-repeat="assesment in currentBean.assesment">
            <a href ng-click="setTab($index + 2)" role="tab" data-toggle="tab">{{assesment.name}}</a>
          </li>
          <li>
            <button class="btn btn-success" ng-click="upState(currentBean._id, currentBean)">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
      </div>
      <div class="modal-body">
        <!-- Tab panes -->
        <div class="tab-content">
          <div ng-show="isSet(1)" role="tabpanel" class="tab-pane active" id="details">
            <div class="row">
              <div class="col-xs-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">Details</h4>
                  </div>
                  {{currentBean.origin}}
                </div>
              </div>
              <div class="col-xs-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">Other Details</h4>
                  </div>
                  {{currentBean.type}}
                </div>
              </div>
            </div>
          </div>
          <div ng-repeat="assesment in currentBean.assesment" role="tabpanel" ng-show="isSet($index + 2)">
            {{assesment.name}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger pull-left" ng-click="removeBean(currentBean._id)" data-dismiss="modal">delete</button>
      </div>
    </div>
  </div>
</div>
