<div class="login-logo">
  <img src="./assets/img/sblogo.png" alt="Logo" />
</div>

<div class="login">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">roastlab alpha</h3>
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control input-sm" ng-model="user.username" type="text" placeholder="Username" aria-describedby="email-suffix" />
            <span class="input-group-addon" id="email-suffix">@smallbatch.com.au</span>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control input-sm" ng-model="user.password" type="password" placeholder="Password" />
        </div>
        <button class="btn btn-sm btn-block btn-success" ng-click="login(user)" type="submit">Sign in</button>
      </form>
    </div>
  </div>
  <div class="login-message">
    <div class="alert" ng-class="loginState.class" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{loginState.message}}
    </div>
  </div>
</div>
