/* Login
 */
.login-logo img {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 110px;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  margin: 0;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  margin: 0;
}

.login .login-message {
  position: fixed;
  width: 100%;
  transition: 500ms;
}

.alert {
  text-align: center;
  opacity: 0;
  margin-top: -15px;
  transition: 500ms;
}

.fadeIn {
  margin-top: 0;
  opacity: 1;
}

.navbar-logout {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.modal-title {
  padding-top: 10px;
  padding-right: 10px;
}

.modal-header {
  padding-bottom: 0;
  border: none;
}

.btn {
  transition: all 500ms ease;
}
